<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-card-subtitle>3 de outubro de 2013</ion-card-subtitle>
    <ion-card-title>The originals</ion-card-title>
  </ion-header>

  <ion-card-content>
    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/dDkTZMJHauC4IeO5YyLS7zuIPaP.jpg" />
    <p>The Originals (em português, Os Originais) é um spin-off produzido pela The CW e baseado na série norte-americana The Vampire Diaries. A história centra-se nos vampiros…</p>
    <ion-button expand="block" fill="outline">Mais informações...</ion-button>
  </ion-card-content>

  <ion-header collapse="condense">
    <ion-card-subtitle>8 de junho de 2010</ion-card-subtitle>
    <ion-card-title>Pretty Little Liars</ion-card-title>
  </ion-header>

  <ion-card-content>
    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/vC324sdfcS313vh9QXwijLIHPJp.jpg" />
    <p>Desorientadas com o desaparecimento de sua líder, quatro amigas se reúnem quando um chantagista ameaça contar seus segredos.</p>
    <ion-button expand="block" fill="outline">Mais informações...</ion-button>
  </ion-card-content>

</ion-content>