<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Frozen 2</h1>
        <h2>20 de novembro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qXsndsv3WOoxszmdlvTWeY688eK.jpg" />
        <p>De volta à infância de Elsa e Anna, as duas garotas descobrem uma história do pai, quando ainda era príncipe
          de
          Arendelle. Ele conta às meninas a história de uma…</p>
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Cinquenta tons de cinza</h1>
          <h2>11 de fevereiro de 2015</h2>
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/6Z8TpX7go4c6rVfimLnrp4B0lm2.jpg" />
          <p>Anastasia Steele (Dakota Johnson) é uma estudante de literatura de 21 anos, recatada e virgem. Uma dia ela deve entrevistar para o jornal da faculdade o poderoso…</p>
          <ion-button expand="block" fill="outline">Mais informações...</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Coringa</h1>
          <h2>2 de outubro de 2019</h2>
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/xLxgVxFWvb9hhUyCDDXxRPPnFck.jpg" />
          <p>Arthur Fleck (Joaquin Phoenix) trabalha como palhaço para uma agência de talentos e, toda semana, precisa comparecer a uma agente social, devido aos seus conhecidos…</p>
          <ion-button expand="block" fill="outline">Mais informações...</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Amizade colorida</h1>
          <h2>21 de julho de 2011</h2>
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/rWC1cr79Rqhr8h5bkQ7AOJD8KgS.jpg" />
          <p>Arthur Fleck (Joaquin Phoenix) trabalha como palhaço para uma agência de talentos e, toda semana, precisa comparecer a uma agente social, devido aos seus conhecidos…</p>
          <ion-button expand="block" fill="outline">Mais informações...</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-content>